<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/dashboard']" >
      <span class="nav-text">
        <strong>Homes</strong>
      </span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item float-xs-right">
          <a [routerLink]="['/']" class="nav-link">
              <span class="nav-text">
                  Logout
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container offset-md-1" style="margin-top: 30px;">
  <toaster-container></toaster-container>

  <div class="row">
    <form class="col-md-6 offset-2" [formGroup]="propertyForm" (ngSubmit)="updateProperty(propertyForm.value)" *ngIf="property">
      <h3 class="text-center">Edit {{property.houseName}}</h3>

      <div class="form-group">
        <label for="owner">Owner Name</label>
        <input type="text" class="form-control" id="owner" aria-describedby="emailHelp" placeholder="James" [formControl]="owner" [(ngModel)]="property.owner" >
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="user@gmail.com" [formControl]="email" [(ngModel)]="property.email">
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone" placeholder="0713456765" [formControl]="phone" [(ngModel)]="property.phone">
      </div>

      <div class="form-group">
        <label for="property">Property Name</label>
        <input type="text" class="form-control" id="property" aria-describedby="property" placeholder="Property name" [formControl]="propertyName" [(ngModel)]="property.houseName">
      </div>

      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" aria-describedby="location" placeholder="Property location" [formControl]="location" [(ngModel)]="property.location">
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" aria-describedby="location" placeholder="Property price" [formControl]="price" [(ngModel)]="property.price">
      </div>

      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [checked]="property.carPack === 1" (click)="setCriteria('parking')">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Parking</span>
      </label>

      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [checked]="property.garden === 1" (click)="setCriteria('garden')">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Garden</span>
      </label>

      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [checked]="property.solarPannels === 1" (click)="setCriteria('solar_pannels')">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Solar pannels</span>
      </label>


      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [checked]="property.library === 1" (click)="setCriteria('library')">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Library</span>
      </label>


      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [checked]="property.guestRoom === 1" (click)="setCriteria('guest_room')">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Guest room</span>
      </label>

      <div class="form-group">
        <p>No of rooms</p>
        <label class="custom-control custom-radio">
          <input id="one_bed" name="bed" type="radio" class="custom-control-input" [checked]="property.oneBedroom === 1" (click)="setCriteria('one_bedroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">1 Bedroom</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="two_bed" name="bed" type="radio" class="custom-control-input" [checked]="property.twoBedroom === 1" (click)="setCriteria('two_bedroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">2 Bedroom</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="three_bed" name="bed" type="radio" class="custom-control-input" [checked]="property.threeBedroom === 1"  (click)="setCriteria('three_bedroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">3 Bedroom</span>
        </label>
      </div>

      <div class="form-group">
        <p>No of bath rooms</p>
        <label class="custom-control custom-radio">
          <input id="one_bath" name="bath" type="radio" class="custom-control-input" [checked]="property.oneBathroom === 1"  (click)="setCriteria('one_bathroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">1 Bathroom</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="two_bath" name="bath" type="radio" class="custom-control-input" [checked]="property.twoBathroom === 1" (click)="setCriteria('two_bathroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">2 Bathroom</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="three_bath" name="bath" type="radio" class="custom-control-input" [checked]="property.threeBathroom === 1" (click)="setCriteria('three_bathroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">3 Bathroom</span>
        </label>
      </div>

      <div class="form-group">
        <label for="description">Property description</label>
        <textarea class="form-control" id="description" placeholder="Property description" rows="3" [formControl]="description" [(ngModel)]="property.description"></textarea>
      </div>

      <!--<div class="form-group">-->
      <!--<label for="exampleInputFile">Upload image</label>-->
      <!--<input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">-->
      <!--</div>-->

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
