<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item float-xs-right">
          <a [routerLink]="['/']" class="nav-link">
            <span class="nav-text">
               Close
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row col-sm-6 offset-3 image-div">
    <carousel [interval]="false">
      <slide>
        <img src="../../assets/images/kitchen.jpg" height="450" width="450" alt="First slide">
        <div class="carousel-caption">
          <h3>Kitchen</h3>
          <p>Fully equipped kitchen</p>
        </div>
      </slide>
      <slide>
        <img src="../../assets/images/bath-tab.jpg" height="450" width="450" alt="Second slide">
        <div class="carousel-caption">
          <h3>Bath</h3>
          <p>Hot water available</p>
        </div>
      </slide>
    </carousel>
  </div>


</div>