<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item float-xs-right" *ngIf="!checkIfLoggedIn()">
          <a [routerLink]="['/']" class="nav-link">
            <span class="nav-text">
               Close
            </span>
          </a>
        </li>
        <li class="nav-item float-xs-right" *ngIf="checkIfLoggedIn()">
          <a [routerLink]="['/dashboard']" class="nav-link">
            <span class="nav-text">
               Close
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row offset-2 image-div">

    <div class="col-sm-6">
      <carousel [interval]="false" *ngIf="property">
        <slide *ngFor="let image of property.images">
          <img [src]="image.image" height="450" width="450" alt="First slide">
          <div class="carousel-caption">
            <p style="color: blue;">{{ property.description }}</p>
          </div>
        </slide>
      </carousel>
    </div>
    <div class="col-sm-4" *ngIf="property">
      <h5>{{ property.houseName}} {{property.location}} - Kshs {{property.price}}</h5>
      <p>Description : {{ property.description }}</p>
      <p>Car Pack :
        <i class="fa fa-check" aria-hidden="true" *ngIf="property.carPack === 1"></i>
        <i class="fa fa-times" aria-hidden="true" *ngIf="property.carPack === 0"></i>
      </p>
      <p>Garden :
        <i class="fa fa-check" aria-hidden="true" *ngIf="property.garden === 1"></i>
        <i class="fa fa-times" aria-hidden="true" *ngIf="property.garden === 0"></i>
      </p>
      <p>Bed rooms :
        <span *ngIf="property.oneBedroom === 1">
            1
          </span>
        <span *ngIf="property.twoBedroom === 1">
            2
        </span>
        <span *ngIf="property.threeBedroom === 1">
            3
        </span>
      </p>
      <p>Bath rooms :
        <span *ngIf="property.oneBathroom === 1">
            1
          </span>
        <span *ngIf="property.twoBathroom === 1">
            2
        </span>
        <span *ngIf="property.threeBathroom === 1">
            3
        </span>
      </p>
      <p>Guest room :
        <i class="fa fa-check" aria-hidden="true" *ngIf="property.guestRoom === 1"></i>
        <i class="fa fa-times" aria-hidden="true" *ngIf="property.guestRoom === 0"></i>
      </p>
      <p>Library :
        <i class="fa fa-check" aria-hidden="true" *ngIf="property.library === 1"></i>
        <i class="fa fa-times" aria-hidden="true" *ngIf="property.library === 0"></i>
      </p>
      <p>Solar pannels :
        <i class="fa fa-check" aria-hidden="true" *ngIf="property.solarPannels === 1"></i>
        <i class="fa fa-times" aria-hidden="true" *ngIf="property.solarPannels === 0"></i>
      </p>
    </div>
  </div>
</div>