<div class="container offset-md-1" style="margin-top: 30px;">
  <nav class="navbar navbar-light col-md-10" style="background-color: #e3f2fd;">
    <span class="navbar-brand" href="#">Admin <span> <a [routerLink]="['/']" > Logout</a></span> </span>
    <a class="btn btn-outline-success" [routerLink]="['/add-property']">Add property</a>
  </nav>
  <div class="row">
    <div class="panel panel-default widget">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span>
        <h3 class="text-center">
          Recent Listings
        </h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-2 col-md-1">
                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
              <div class="col-xs-10 col-md-11">
                <div>
                  <a href="http://bootsnipp.com/BhaumikPatel/snippets/Obgj">3 bedroom mansion Juja - Kshs 2,000,000 </a>
                  <div class="mic-info">
                    By: <a href="#">Admin</a> on 11 Nov 2013
                  </div>
                </div>
                <div class="comment-text">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                  euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                </div>
                <div class="action">
                  <button type="button" class="btn btn-primary btn-xs" title="Edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" title="Delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-2 col-md-1">
                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
              <div class="col-xs-10 col-md-11">
                <div>
                  <a href="http://bootsnipp.com/BhaumikPatel/snippets/4ldn">4 bedroom mansion Nyeri - Kshs 10,000,000</a>
                  <div class="mic-info">
                    By: <a href="#">Admin</a> on 11 Nov 2013
                  </div>
                </div>
                <div class="comment-text">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                  euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                </div>
                <div class="action">
                  <button type="button" class="btn btn-primary btn-xs" title="Edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" title="Delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
