<div class="container-fluid">

  <!--Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">
        <span class="nav-text">
          <strong>Homes</strong>
        </span>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav1">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item float-xs-right">
            <a [routerLink]="['/login']" class="nav-link">
              <span class="nav-text">
                  Login
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row page-header">
    <div class="col-md-12">
      <p class="text-center">Find your perfect home in seconds</p>
    </div>
  </div>

  <div class="col-sm-8 offset-sm-2">
    <div id="imaginary_container" class="card card-inverse card-info mb-3 text-center nav-text">
      <div class="card-block">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" (click)="setCriteria('parking')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Parking</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" (click)="setCriteria('garden')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Garden</span>
        </label>
        <label class="custom-control custom-radio">
          <input name="bed" type="radio" class="custom-control-input" (click)="setCriteria('one_bedroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">1 Bedroom</span>
        </label>
        <label class="custom-control custom-radio">
          <input name="bed" type="radio" class="custom-control-input" (click)="setCriteria('two_bedroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">2 Bedroom</span>
        </label>
        <label class="custom-control custom-radio">
          <input name="bed" type="radio" class="custom-control-input" (click)="setCriteria('three_bedroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">3 Bedroom</span>
        </label>
        <label class="custom-control custom-radio">
          <input name="bath" type="radio" class="custom-control-input" (click)="setCriteria('one_bathroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">1 Bathroom</span>
        </label>
        <label class="custom-control custom-radio">
          <input name="bath" type="radio" class="custom-control-input" (click)="setCriteria('two_bathroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">2 Bathroom</span>
        </label>
        <label class="custom-control custom-radio">
          <input name="bath" type="radio" class="custom-control-input" (click)="setCriteria('three_bathroom')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">3 Bathroom</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" (click)="setCriteria('guest_room')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Guest room</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" (click)="setCriteria('library')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Library</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" (click)="setCriteria('solar_pannels')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Solar pannels</span>
        </label>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" (click)="search()">
        Find homes <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <div class="btn-group pull-right" role="group">
        <button type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          Range : {{ range }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="setRange(1)">
              Range 1
            </a>
          </li>
          <li>
            <a (click)="setRange(2)">
              Range 2
            </a>
          </li>
          <li>
            <a (click)="setRange(3)">
              Range 3
            </a>
          </li>
          <li>
            <a (click)="setRange(4)">
              Range 4
            </a>
          </li>
          <li>
            <a (click)="setRange(5)">
              Range 5
            </a>
          </li>
          <li>
            <a (click)="setRange(6)">
              Range 6
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container container-pad" id="property-listings">
    <div class="row">

      <!-- Begin Listing: 609 W GRAVERS LN-->
      <div class="col-sm-6" *ngFor="let property of properties">
        <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
          <div class="media" [ngClass]="{'alert alert-success': property.class_exists}">
            <a class="pull-left" [routerLink]="['/property-detail/', property.houseId]">
              <img alt="image" class="img-responsive" height="150" width="230" [src]="property.image || placeholder"></a>

            <div class="clearfix visible-sm"></div>

            <div class="media-body fnt-smaller">
              <h4 class="media-heading"  >
                <a [routerLink]="['/property-detail/', property.houseId]">
                  <span style="font-size: 16px;" >
                    {{ property.houseName }} - {{ property.location }}
                  </span>
                  <span style="font-size: 12px;" class="pull-right">
                    Kshs {{property.price}}
                    <span class="badge badge-success" *ngIf="reCheckIfNewDistanceIsset(initialValue) || property.class_exists">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </span>

                </a>
                <p style="font-size: 12px;">Owner : {{property.owner}}</p>
                <p style="font-size: 12px;">Phone : {{property.phone}}</p>
                <p style="font-size: 12px;">Email : {{property.email}}</p>

              </h4>

              <div class="text-center">
                <a [routerLink]="['/property-detail/', property.houseId]" class="btn btn-sm btn-info">
                  View
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
              </div>

              <!--<ul class="list-inline">-->
              <!--<li class="list-inline-item">4,820 SqFt</li>-->

              <!--<li class="list-inline-item" style="list-style: none">|</li>-->

              <!--<li class="list-inline-item">5 Beds</li>-->

              <!--<li class="list-inline-item" style="list-style: none">|</li>-->

              <!--<li class="list-inline-item">5 Baths</li>-->
              <!--</ul>-->

              <p class="hidden-xs text-center info-paragraph">
                {{property.description}}
              </p>
            </div>
          </div>
        </div><!-- End Listing-->
      </div>
    </div>
  </div><!-- End row -->
</div>